body {
  font-family: system-ui, sans-serif;
  max-width: 800px;
  margin: 2em auto;
  line-height: 1.5;
  color: #333;
}
header, footer {
  text-align: center;
}
h1 {
  color: #004aad;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 0.5em 0;
}
a {
  text-decoration: none;
  color: #0066cc;
}
a:hover {
  text-decoration: underline;
}

